.about-me {
    min-width: 100%;
    order: 10;

    &.active {
        order: 1;
        animation: active-animation 0.5s;
    }
}

@keyframes active-animation {
    0% {
        opacity: 0;
        bottom: -1rem;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}
