.project-list {
    margin-top: 4rem;
    padding-left: 2rem;

    .project-name {
        margin-left: 1rem;
        color: rgba($color-secondary, 0.5);
        cursor: pointer;

        &.active {
            color: $color-secondary;
            border-left: 1px solid $color-secondary;
        }
    }
}
