.project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    order: 10;

    &.active {
        order: 1;
        animation: active-animation 0.5s;
    }

    .links {
        margin-top: 2rem;
    }

    .link {
        display: block;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        border: 1px solid rgba($color-secondary, 0.2);
        border-radius: 2rem;
        text-align: center;
        @include prevent-select;
    }
}

@media (min-width: $bp-sm) {
    .project {
        .links {
            display: flex;
            justify-content: flex-end;
        }

        .link {
            margin-bottom: 0;
            margin-right: 1rem;
            text-align: unset;
        }
    }
}

@media (min-width: $bp-md) {
    .project {
        .link {
            transition: all 0.2s;

            &:hover {
                background-color: $color-secondary;
                color: $color-primary;
            }
        }
    }
}
