.project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    order: 10;

    &.active {
        order: 1;
        animation: active-animation 0.5s;
    }

    .links {
        margin-top: 2rem;
    }

    .link {
        display: block;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        border: 1px solid rgba($color-secondary, 0.2);
        border-radius: 2rem;
        text-align: center;
        white-space: nowrap;

        &:hover {
            text-decoration: none;
        }

        @include prevent-select;
    }
}

@media (min-width: $bp-sm) {
    .project {
        .links {
            display: flex;
            justify-content: flex-end;
        }

        .link {
            margin-bottom: 0;
            margin-right: 1rem;
            text-align: unset;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: $bp-md) {
    .project {
        .link {
            margin-right: 1.5rem;
            transition: all 0.2s;

            &:hover {
                background-color: rgba($color-secondary, 0.1);
            }
        }
    }
}
