* {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(rgba($color-primary, 0.94), #000000);
    color: $color-secondary;
}

#root {
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 94%;
    margin: 0 auto;
    animation: fade-in 2s;
}

.container {
    height: 100%;
    max-width: 1024px;
    margin-top: 2rem;
}

h1,
h2,
h3 {
    margin-top: 0;
}

h1 {
    font-size: 2.4rem;
}

p {
    padding-left: 1rem;
    border-left: 1px solid rgba($color-secondary, 0.2);
}

a {
    text-decoration: none;
    color: $color-secondary;
}

.p {
    padding: 1rem;
}

footer {
    padding: 2rem 0;
    text-align: center;
}

@media (min-width: $bp-xs) {
    body {
        font-size: 18px;
    }

    .app {
        width: 90%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &::before {
            content: "";
            width: 50%;
            height: 1px;
            margin-right: 1rem;
            background-color: rgba($color-secondary, 0.2);
        }

        &::after {
            content: "";
            width: 50%;
            height: 1px;
            margin-left: 1rem;
            background-color: rgba($color-secondary, 0.2);
        }
    }

    .p {
        padding: 2rem;
    }
}

@media (min-width: $bp-sm) {
    #root {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 86%;
    }
}

@media (min-width: $bp-xl) {
    body {
        font-size: 22px;
    }
}
